header{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(187, 0, 93);
    background-color: rgb(138, 127, 29);
    /*text-align: center;*/

}

#intro {
    text-align: center;
}

#media{
    text-align: center;
    border-style: solid;
    border: 5px;
    border-color: bisque;
}


h1{
    font-size: 25pt;
    font-weight: 700;
    color:rgb(174, 187, 28);
}

img{
    padding: 15pt;
}

ul{
    list-style-type: none;
    font-size: 40px;
}



footer{
    font-size: 10px;
    font-style: italic;
    text-align: end;
}